@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.App {
    font-family: Roboto;
    color: #393e46;
}

.icon-button {
    font-size: 50px;
}

.icon-kategori {
    color: #dc3545;
}

.App a {
    color: #393e46;
    text-decoration: none;
}

.App a:hover {
    color: #737880;
    cursor: pointer;
}

.App p {
    font-size: 16px;
    line-height: 1.5;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav-link {
    left: 0;
}

.table-data {
    overflow: auto;
}

.table-data table td:first-child,
.table-data table th:first-child {
    position: sticky;
    left: 0;
}

.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


/* .sticky-col {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
} */