.navbar {
  transition: all 0.3s ease-in-out;
  color: #393e46;
  background-color: #fff;
}

.navbar .nav-link {
  color: #393e46;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-login {
  margin-top: -4px;
}

.navbar .nav-link:hover {
  color: #f2df3a;
}

.navbar.active {
  background: #fff !important;
}

.schedule .carousel-item {
  margin-top: 100px;
  width: 100%;
  height: 580px;
}

.schedule .carousel-item img {
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.card-item {
  margin-bottom: 10px;
  min-height: 635px;
}

.card-item:hover {
  transition: all 0.3s ease;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.card-item .card-title {
  height: 250px;
}

.card-item .card-title img {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-item .card-body h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card-item .card-body h3:hover {
  color: #f2df3a;
  cursor: pointer;
}

.card-item .card-body .deskripsi {
  display: -webkit-box;
  min-height: 100px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.schedule,
.webinar-page,
.podcast-page,
.detail-page {
  margin-top: 50px;
}

.detail-page .detail-page__image {
  width: 100%;
  text-align: center;
}

.detail-page .detail-page__image img {
  width: 640px;
}

.detail-page ul li {
  list-style: circle;
}

.detail-page .kategori {
  background-color: #f5e265;
  font-weight: 600;
}

.webinar-page .kategori-list button,
.podcast-page .kategori-list button {
  padding: 5px;
  margin: 5px;
  font-weight: 500;
  background-color: #f5e265;
  margin-right: 25px;
  border-radius: 8px;
}

.login {
  width: 400px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background-color: #f2df3a;
  margin: 50px auto;
  color: #393e46;
  font-weight: bold;
}

.login form {
  font-size: 20px;
}

.footer-middle {
  background-color: #fff;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 650px) {
}

@media (min-width: 320px) {
  .detail-page .detail-page__image {
    background-color: #ededed;
  }
  .detail-page .detail-page__button {
    background-color: #f2df3a;
    border: 3px solid #f2df3a;
    font-weight: bold;
    font-size: 18px;
  }
  .detail-page .detail-page__button:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 3px solid #f2df3a;
  }
  .detail-page ul li {
    list-style: none;
  }
  .webinar-page .kategori-list,
  .podcast-page .kategori-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
