.schedule .carousel-item {
    height: 480px;
}

.schedule .carousel-item img {
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transition: all 0.3s ease;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.card .card-title {
    height: 250px;
}


.card .card-title img {
    height: 100%;
    object-fit: cover;
}

.card .card-body h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card .card-body .deskripsi {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Detail Page */
.detail-page .detail-page__image img {
    max-width: 750px;
}

.detail-page ul li {
    list-style: circle;
}

.detail-page .kategori {
    background-color: #f5e265;
    font-weight: 600;
}

/* Webinar Page*/
.webinar-page .kategori-list a,
.podcast-page .kategori-list a {
    padding: 5px;
    font-weight: 500;
    background-color: #f5e265;
    margin-right: 25px;
    border-radius: 8px;
}



@media screen and (min-width: 800px) {}


@media screen and (min-width: 650px) {}




@media (min-width: 320px) {
    .detail-page .detail-page__image {
        background-color: #EDEDED;
    }

    .detail-page .detail-page__button {
        background-color: #F2DF3A;
        border: 3px solid #F2DF3A;
        font-weight: bold;
        font-size: 18px;
    }

    .detail-page .detail-page__button:hover {
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: 3px solid #F2DF3A;
    }

    .detail-page ul li {
        list-style: none;
    }
}